@model IEnumerable<JooleProject_DAL.Category>
@using JooleProject_DAL
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/JoolyStyles/Search.css" rel="stylesheet" />
</head>
<body>
    <div class="searchpage-container">
        <div class="img-container">
            <input type="image" id="joole" alt="joole" class="joole" src="~/Images/jooleLogo.png">
        </div>
        <h1 style="text-align:center;font-size:25px;font-weight:normal">Building Product Selection Platform</h1>
         @Html.Partial("_SearchBar") 
    </div>
</body>
</html>

