.collapsible {
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 17px;
}

    .collapsible:after {
        content: '\1F87B';
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\1F879";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.slider {
    width: 1px;
    display: inline;
    -webkit-appearance: none;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: aqua;
    border-radius: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
    border: none;
    border-radius: 20px;
    background-color: aqua;
}
